<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 	'bootstrap-custom'%>
    <%= stylesheet_link_tag 	'icomoon'%>
    <%= stylesheet_link_tag 	'jquery.mCustomScrollbar'%>
    <%= stylesheet_link_tag 	'main-style'%>


    <meta charset="utf-8">
    <title>Victor Martinez Simon - Personal WebPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- javascripts -->
    <script type="text/javascript" src="assets/jslib/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="assets/jslib/jquery.ba-bbq.js"></script>
    <script type="text/javascript" src="assets/jslib/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript" src="assets/jslib/bootstrap-transition.js"></script>
    <script type="text/javascript" src="assets/jslib/bootstrap-collapse.js"></script>
    <script type="text/javascript" src="assets/jslib/jquery.easypiechart.js"></script>
    <script type="text/javascript" src="assets/jslib/jquery.raty.js"></script>
    <script type="text/javascript" src="assets/jslib/jquery.sharrre.js"></script>
    <script type="text/javascript" src="assets/jslib/jquery.hoverdir.js"></script>
    <!-- fancy box -->
    <link rel="stylesheet" href="../assets/js/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
    <script type="text/javascript" src="../assets/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
    <!-- end fancy box -->
    <script type="text/javascript" src="assets/js/Template.js"></script>
    <!-- end javascripts -->
    <!-- open graph -->
    <meta property="og:title" content="Victor Martinez Simon - Personal WebPage" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.victormartinezsimon.com" />
    <meta property="og:image" content="http://www.victormartinezsimon.com/uploads/home/FotoPerfil_small.jpg" />
    <meta property="og:description " content="Game developer, AI developer, software engineer" />
        <!-- end open graph -->
  </head>

  <body class="layout-body layout-body--home">
  	<!-- .layout -->
    <div class="layout layout-width">
    	<div class="layout-anti-scroll layout-anti-scroll--active layout-width"></div>
    	<!-- .layout-header -->
        <div class="layout-header layout-width">
                <header>
                    <div id="headerMenuSlidingElement" class="main-nav__sliding-element"></div>
                    <ul class="main-nav">
                        <li class="main-nav__item main-nav__item--active">
                            <a class="main-nav__item-link" href="index.html">
                                <span class="main-nav__item-icon-wrapper">
                                    <i class="main-nav__item-icon icon-home "></i>
                                </span>
                                <span class="main-nav__item-content">Home</span>
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a class="main-nav__item-link" href="resume.html">
                                <span class="main-nav__item-icon-wrapper">
                                    <i class="main-nav__item-icon icon-profile"></i>
                                </span>
                                <span class="main-nav__item-content">Resume</span>
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a class="main-nav__item-link" href="portfolio.html">
                                <span class="main-nav__item-icon-wrapper">
                                    <i class="main-nav__item-icon icon-books"></i>
                                </span>
                                <span class="main-nav__item-content">Portfolio</span>
                            </a>
                        </li>
                        <li class="main-nav__item">
                            <a class="main-nav__item-link" href="contact.html">
                                <span class="main-nav__item-icon-wrapper">
                                    <i class="main-nav__item-icon icon-envelop"></i>
                                </span>
                                <span class="main-nav__item-content">Contact</span>
                            </a>
                        </li>
                    </ul>
                    <div class="mobile-menu">
                        <a class="mobile-menu__toggle" href="index.html#">
                            <span class="mobile-menu__toggle__icon">
                                <i class="fa fa-bars mobile-menu__toggle__icon__open"></i>
                                <i class="fa fa-times mobile-menu__toggle__icon__close"></i>
                            </span>
                        </a>
                    </div>
                </header>
        </div>
        <!-- end .layout-header -->
        <!-- .layout-sidebar -->
        <div class="layout-sidebar layout-sidebar-width">
            <!-- .sidebar -->
            <div class="sidebar">
                <div class="sidebar__site-name">Victor Martinez</div>
                <div class="widget">
                    <ul class="widget__list">
                        <li>Game Developer</li>
                    </ul>
                </div>
                <!-- .social-icons -->
                <ul class="social-icons">
                    <li>
                        <a href="https://twitter.com/vity_martinez" target="_blank" class="social-icon--twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                   
                    <li>
                        <a href="https://es.linkedin.com/in/victormartinezsimon" target="_blank" class="social-icon--linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="downloads/VictorMartinezSimon_en.pdf" class="social-icon--linkedin">
                            <i class="fa fa-file-pdf-o"></i>
                        </a>
                    </li>
                    <!-- flags -->
                    <!--
                    <li>
                         <a href="index_es.html" class="flag">
                            <img src = "uploads/flags/es.png" alt= "spain flag">
                        </a>
                    </li>
                    <li>
                         <a href="index.html" class="flag">
                            <img src = "uploads/flags/en.png" alt= "england flag">
                        </a>
                    </li>
                    -->
                </ul>
                <!-- end .social-icons -->
                <!-- end flags -->
                <footer class="footer">
                    <p class="footer__copyright">&copy; Victor Martinez Simon , 2015. All rights reserved.</p>
                </footer>
            </div>
            <!-- end .sidebar -->
        </div>
        <!-- end .layout-sidebar -->
        <div class="layout-container-main layout-container-width">
    		<%= yield %>
    	</div>
    </div>
  </body>	
</html>
